---
---

@import "{{ site.theme }}";

@font-face
{
    font-family: ChakraPetch;
    src: url('../fonts/ChakraPetch.ttf');
}

@font-face
{
    font-family: Orbitron;
    src: url('../fonts/Orbitron.ttf');
}

body
{
    font-family: ChakraPetch;
}

h1
{
    font-family: Orbitron;
}